:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    
    
}

header .container{
    
    display: flex; /* deixa todo mundo centralizado dentro do container e alinhado na vertical*/
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    margin: 0 2%;
    
}

header .logo{
    
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    cursor: pointer;
    font-size: 30px;
    
   
}

header nav{
    
   
    
}

header .container nav a{
    
    text-decoration: none;
    color: #AAA;
    cursor: pointer;
    margin-right: 10px;
}

header .container nav a:hover{
    
    color: #fff; 
}


/* MAIN */

.filme-principal .container{
    
    margin: 0 2%;
}

main .filme-principal{
    
    font-size: 16px;
    background: linear-gradient(rgba (0,0,0,.50),rgba(0,0,0,.50)100%);
    background-image: url(../img/cap-arrow.jpg);
    background-size: cover;
    height: 400px;  
    display: flex; /* deixa todo mundo centralizado dentro do container e alinhado na vertical*/
    flex-direction: column; /* coloca os itens separados um debaixo do outro */
    justify-content: center; /* alinha todo mundo ao centro vertical do container */
    align-items: flex-start; /* coloca o pessoal para começar da esquerda */
    width: 100%;
    

}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
  
}

.botao img{
    
    width: 15px;
    height: auto;
    padding-right: 3px;
}



.title{
    
    color: white;
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    
}

.sinopse{
    
    color: white;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 15px;
}

